---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "このブログについて";
---
<BaseLayout pageTitle={pageTitle}>
    <p>管理人の勉強内容をまとめたり、技術系のもろもろを載せていく予定です。</p>
    <p>本サイトは<a href="https://astro.build/">Astro</a>で動作しています。</p>
</BaseLayout>