---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "しゃけブログ";
---
<BaseLayout pageTitle={pageTitle}>
  <p>技術系の雑多なメモ</p>
  <ul class="mt-3 ml-12 list-disc">
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>