---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "しゃけのウェブサイト";
---
<BaseLayout pageTitle={pageTitle}>
  <p class="text-2xl">技術系の雑多なメモ</p>
  <p class="mt-4">トップページに何を載せたらいいのかまだわからないので工事中です。</p>
</BaseLayout>