---
import Social from './Social.astro';
---
<style>
    footer {
        border-top: 1px solid #bbbbbb;
    }
</style>

<footer>
    <div class="container">
        <nav class="mt-4">
            <ol class="flex [&>li]:px-1">
                <li><Social platform="twitter" username="shuckle32099" /></li>
                <li><Social platform="github" username="EndoYuuki" /></li>
            </ol>
        </nav>
        <p class="mt-2">&copy; 2023 Shake. All Rights Reserved.</p>
    </div>
</footer>