---
import Social from './Social.astro';
---
<style>
    footer {
        border-top: 1px solid #bbbbbb;
    }

    footer .content {
        width: 100%;
        max-width: 80ch;
    }
</style>

<footer>
    <div class="content">
    <Social platform="twitter" username="shuckle32099" />
    <Social platform="github" username="EndoYuuki" />
    <p>&copy; 2023 Shake. All Rights Reserved.</p>
    </div>
</footer>