---
---
<div class="relative w-[50px] h-[50px]">
  <hr class="absolute block transition m-0 top-[12px] left-[25%] w-[50%] h-[4px] bg-black dark:bg-white origin-[0%_50%] border-none" />
  <hr class="absolute block transition m-0 top-[22px] left-[25%] w-[50%] h-[4px] bg-black dark:bg-white origin-[0%_50%] border-none" />
  <hr class="absolute block transition m-0 top-[32px] left-[25%] w-[50%] h-[4px] bg-black dark:bg-white origin-[0%_50%] border-none" />
</div>
