---
---
<style>
    a {
        outline: none;
        text-decoration: none;
    }
    a:link { color: #000; }
    a:visited { color: #000; }
    a:active { color: #000; }
</style>
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</div>