---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`} target="_blank" class="[&>img]:w-[30px] [&>img]:h-[30px]"><img src=`/images/${platform}.svg` alt=`${platform}`></a>
