---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`} target="_blank"><img src=`/icons/${platform}.png` alt=`${platform}`></a>

<style>
  a {
    border: none;
  }

  a img {
    width: 30px;
    height: 30px;
    vertical-align: top;
  }

  a:hover, a:focus {
    background-color: #B2B3BB;
  }
</style>