---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
import "../styles/blog.css";
---
<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.pubDate.slice(0,10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <div class="blog">
    <slot />
  </div>
</BaseLayout>